[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
h5py = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"
keras-tuner = "*"
#pyarrow = "*"
#rootpy = "*"
#root-numpy = "*"
psutil = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
