[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
h5py = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
black = "*"
jupyterlab-code-formatter = "*"
keras = "*"
tensorflow = "*"
jupyterlab-git = "*"
keras-tuner = "*"
pyarrow = "*"
azureml-sdk = "*"
dotnetcore2 = "*"
rootpy = "*"
root-numpy = "*"
psutil = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
